<!-- Basiert auf SQLite -->
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Wiki</title>
        <link rel="manifest" href="./manifest.json">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="apple-touch-icon" href="images/wiki.png">
        <link rel="shortcut icon" href="images/wiki.png">
        <link rel="stylesheet" href="styles/wiki.css">
        <script src="js/vue@3.2.26.global.prod.js"></script>
        <script type="module" src="js/wiki_v2.mjs"></script>
    </head>
    <body>

        <input type="checkbox" id="nav-toggle" name="nav-toggle" hidden>

        <aside class="sidebar">
            <header>
                <img src="images/wiki.png"/>
                <div class="app-title">WIKI</div>
            </header>
            <nav id="hierarchy">
                <navigation-element 
                    v-for="rootHierarchyElement in hierarchy" 
                    :hierarchy-element="rootHierarchyElement" 
                    @hierarchy-element-clicked="handleHierarchyElementClicked"
                    @hierarchy-element-toggled="handleHierarchyElementToggled"
                ></navigation-element>
            </nav>
        </aside>

        <label for="nav-toggle" class="menu-toggle">
            <span>☰</span>
            <div class="overlay"></div>
        </label>

        <div class="">

            <header id="topbar">
                <div class="page-title" id="pagetitle">{{ selectedHierarchyElement?.Title }}</div>
                <div class="buttons">
                    <button onclick="location.reload()">Aktualisieren</button>
                    <button @click="handleAddButtonClick">Neu</button>
                    <button v-if="selectedHierarchyElement" @click="handleRenameButtonClick">Umbenennen</button>
                    <button v-if="selectedArticle && !isEditing" @click="handleEditButtonClick">Bearbeiten</button>
                    <button v-if="isEditing" @click="handleCancelButtonClick">Abbrechen</button>
                    <button v-if="isEditing" @click="handleSaveButtonClick" :disabled="!isContentChanged">Speichern</button>
                    <button v-if="selectedHierarchyElement" @click="handleDeleteButtonClick">Löschen</button>
                </div>
            </header>
                    
            <div class="main">
                <textarea v-if="selectedArticle && isEditing" v-model="selectedArticle.Content" @input="isContentChanged = true" @keydown="handleTextareaKeyDown"></textarea>
                <div id="preview" v-if="selectedArticle" v-html="formatSelectedArticle"></div>
            </div>

            <div id="lastedited"></div>

        </div>
        
    </body>
  
</html>